.wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    input{
        flex: 1;
        padding: 0.375rem 0.75rem;
        border-radius: 4px;
        background-color: white;
        border: 1px solid #ced4da;
        color: #495057;
        font-size: 16px;
        transition: 0.5s;
    
        &:focus{
            border-color: #17a2b8;
            box-shadow: 1px 0 5px #17a2b8;
        }
    }
}

label{
    width: 200px;
    display: inline-block;
}


.disable{
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}