.wrapper{

}

.header{
    margin-bottom: 24px;

    .header__title{
        margin-bottom: 8px;
    }

    .header__description{
        line-height: 1.4;
        font-size: 15px;
    }
}

.content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .content__left{
        flex: 1;
    }

    .sideBar{
        margin-left: 24px;
        width: 350px;
    }
}