.spinner{
    background-color: rgba(255,255,255,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


    .spinner__content{
        position: absolute;
        font-size: 35px;
        color: rgb(223, 147, 17);
        animation: rotate ease-in 0.8s infinite;
    }
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(360deg);
    }
}
